body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.ramme {
    margin-top: -16px;
}

.meny {
    margin-left: -28px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #35424a;
    border-bottom: #e8491d 3px solid;
}

.meny li {
    display: inline;
    padding: 0 10px 0 10px;
}

.meny a {
    text-decoration: none;
    color: white;
}

.active {
    color: red;
}

.content {
    margin-left: 20px;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.Btn-Blue-BG {
    background-color: gray;
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mb-3.btn.btn-primary.btn-sm.active {
    color: white;
    background-color: red;
    border-color: red;
}

.navbar-brand {
    margin-left: 30px;
}